/* General styling */
h1 {
  color: #2a2a2a;
}

p {
  color: #2a2a2a;
}

a {
  color: #E00B46;
}

.row {
  margin-top: 125px;
}

.display-5 {
  font-size: 1.25em;
  font-weight: 300;
  line-height: 1.2;
  color: #E00B46;
}

.display-5 a:hover {
  color: #E00B46;
}

/* Navigation */
.navbar-brand {
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
}

.navbar-expand .navbar-nav .nav-link {
  padding: 0 1em;
}

.navbar a {
  color: #2a2a2a;
  text-decoration: none;
}

.navbar a:hover {
  color: #E00B46;
}

/* Jumbotron */
.jumbotron {
  background-color: #E00B46;
  text-align: center;
  /* background: url(../img/test.jpg); */
  /* background-size: cover; */
}

.jumbotron h1 {
  color: white;
  text-shadow: 6px 2px #2a2a2a;
  font-family: 'Pacifico', cursive;
}

.jumbotron p {
  font-size: 1.5em;
  color: white;
}

.jumbotron i {
  color: #2a2a2a;
  font-size: 4em;
  margin-right: 0.5em
}

.jumbotron i:hover {
  color: white;
}

/* Conact */
.btn-mine {
  color: #E00B46;
  background-color: transparent;
  background-image: none;
  border-color: #E00B46;
}

.btn-mine:hover {
  background-color: #E00B46;
  color: white;
}

/* Footer */
footer {
  text-align: center;
  background-color: #E00B46;
}

footer p {
  color: white;
  padding: 15px;
  margin: 125px 0 0 0;
  font-family: 'Roboto', sans-serif;
}

footer a {
  color: white;
}

footer a:hover {
  color: white;
}

footer i {
  color: #2a2a2a;
  margin: 0 12px 15px 12px;
  font-size: 1.5em;
}

footer i:hover {
  color: white;
}