/* General styling */
p {
  font-weight: 300;
}

a {
  color: #3184B8;
}

a:hover {
  color: #3184B8;
}

.display-5 {
  font-size: 1.25em;
  font-weight: 300;
}



/* Navigation */
.navbar-light .navbar-brand {
  font-size: 1.25em;
  color: rgba(0,0,0,.7);
  font-family: 'Roboto', sans-serif;
}



/* Jumbotron */
.jumbotron {
  background-color: #3184B8;
}

.jumbotron h1 {
  color: white;
  text-shadow: 5px 5px rgba(42, 42, 42, 0.6);
  font-family: 'Pacifico', cursive;
}

.jumbotron p {
  font-size: 1.5em;
  color: white;
}

.jumbotron i {
  font-size: 4em;
  color: #2a2a2a;
  margin: 0 0.25em;
  text-shadow: 5px 5px rgba(42, 42, 42, 0.25);
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.jumbotron i:hover {
  color: white;
}



/* About */
#about-container {
  margin-top: 125px;
}


/* Projects */
#projects-container {
  margin-top: 125px;
}


/* Illustrations */
#illustrations-container {
  margin-top: 125px;
}

#illustrations-container h1 {
  text-align: center;
}

#illustrations-container h2 {
  text-align: center;
  color: #3184B8;
}

#illustrations-container p {
  text-align: center;
  margin-bottom: 32px;
}



/* Conact */
#contact-container {
  margin-top: 125px;
  text-align: center;
}

#contact-container h2 {
  color: #3184B8;
}

.btn-mine {
  color: #3184B8;
  background-color: transparent;
  background-image: none;
  border-color: #3184B8;
}

.btn-mine:hover {
  background-color: #3184B8;
  color: white;
}



/* Footer */
footer {
  margin-top: 125px;
  text-align: center;
  background-color: #3184B8;
}

footer p {
  color: white;
  margin: 0 0 0 0;
  padding: 0 0 15px 0;
  font-family: 'Roboto', sans-serif;
}

footer a {
  color: white;
}

footer a:hover {
  color: white;
}

footer i {
  color: #2a2a2a;
  margin: 15px 15px 10px 15px;
  font-size: 1.5em;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

footer i:hover {
  color: white;
}



/* Media Queries */
@media (max-width: 767.98px) {
  .container {
    text-align: center;
  }

  .navbar-nav {
    text-align: left;
  }
}